*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(  rgb(221, 237, 248),rgb(31, 123, 209), rgba(42, 184, 240, 0.808));
    height: 100vh;
}
/*Decoracion del encabezado*/
.head__div{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding: 25px;
    width: 100vh;
    
}

.Flecha{
    width: 35px;
}
.logo{
    width: 50px;
}
.nombre__parqueo{
    color: rgb(4, 83, 136);
}
.div__logo{
    display: flex;
    margin: 15px;
}
.perfil{
    width: 50px;
}
#encabezado{
    display: flex;
}

#encabezado__nav{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding: 10px;
}
.encabezado__div{
    display: flex;
}

/*Decoracion de la de la asignacion del vehiculo*/
#main{
    display: flex;

}
.main__div{
    display: inline-block;
    justify-content: center;
    align-items:  center;
}

.vehiculo{
    width: 65px;
    display: inline-flex;
}
#boton{
    margin: 13px;
    border-radius: 5px;
    padding: 5px;
}
.seccion1{
    margin: 45px;
    padding: 20px;
}
.subtitulo{
    text-align: center;
    color: rgba(0, 81, 255, 0.747);
    border: 1px solid white;
    background: white;
    border-radius: 25px;
    padding: 10px;
}
